<html>
  <head>
    <title>StreetEasy</title>
    <meta name="viewport" content="width=400, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
<div id="holder" class="col-xs-12 col-md-10 col-md-offset-1">
    <h1><%= @title %></h1>
<div class="col-md-6 col-xs-12">
    <% @listings.each do |listing| %>
	    <div class="listing">
	    <img src="/images/property.jpg">
	    	<button class="add"><div class="check"></div></button>
		    <div class="address"><%= listing[:address] %></div>
		    <div class="location"><%= listing[:location] %></div>	    
		    <div class="clear_both"></div>
	    </div>
  <% end %>
</div>
<div class="col-md-6 col-xs-12">
  <% @listings.each do |listing| %>
	    <div class="listing">
	    <img src="/images/property.jpg">
	    	<button class="add"><div class="check"></div></button>
		    <div class="address"><%= listing[:address] %></div>
		    <div class="location"><%= listing[:location] %></div>
		    <div class="clear_both"></div>
	    </div>
  <% end %>
</div>
    <div class="clear_left"></div>
</div>
<div id="cart_holder" class="col-md-10 col-md-offset-1">
<div id="cart" class="pull-right"><img src="/images/cart@2x.png" id="cart_icon"><div id="count">0</div></div>
</div>
<div class="clear_both">
<script>
	$(function() {
		var properties = 0;
		$('.add').one('click', function(e) {
			properties += 1;
			var target = $( e.target );
			$(this).css("cursor", "default");
        	$(target.children()).animate({
        		marginTop : "+95px"
        		}, function() {
              if (properties === 1) {
                $("#count").html(properties);
                $("#cart").addClass("fade");
                setTimeout('$("#cart").addClass("set");', 400);
              } else {
                $("#count").addClass('animated');
                setTimeout('$("#count").html(' + properties + ');', 300);
                setTimeout('$("#count").removeClass("animated");', 500);
              }
			});
		});
	});
</script>
  </body>
</html>