<html>
  <head>
    <title>StreetEasy</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
<div id="holder" class="col-md-10 col-md-offset-1">
    <h1><%= @title %></h1>
<div class="col-md-6 col-xs-12">
    <% @listings.each do |listing| %>
	    <div class="listing">
	    <img src="/images/property.jpg">
	    	<button class="add"><div class="check"></div></button>
		    <div class="address"><%= listing[:address] %></div>
		    <div class="location"><%= listing[:location] %></div>	    
		    <div class="clear_both"></div>
	    </div>
  <% end %>
</div>
<div class="col-md-6 col-xs-12">
  <% @listings.each do |listing| %>
	    <div class="listing">
	    <img src="/images/property.jpg">
	    	<button class="add"><div class="check"></div></button>
		    <div class="address"><%= listing[:address] %></div>
		    <div class="location"><%= listing[:location] %></div>
		    <div class="clear_both"></div>
	    </div>
  <% end %>
</div>
    <div id="cart" class="pull-right">Count:</div>
    <div class="clear_both"></div>
</div>
<div class="clear_left"></div>
<script>
	$(function() {
		$('.add').click(function(e) {
			var target = $( e.target );
        	$(target.children()).animate({
        		marginTop : "+95px"
        		}, function() {
    //console.log('animation complete');
			});
		});
	});
</script>

  </body>
</html>